body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

form {
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 300px;
}

button {
    padding: 10px 15px;
    color: white;
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

